*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.connection-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#FA6C48;
    color: #fff;;
}
.orange-circle{
    background: #E76342;
    width: 33px;
    padding: 7px 5px;
    border-radius:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon-text-wrapper{
    display: flex;
    align-items: center;
gap: 10px;
}
.number-box{
    display: flex;
    align-items: center;
    color:#fff;
    font-weight: 400;
font-size: 14.5833px;
line-height: 15px;
background-color: #E76342;
}
.btn{
border: none;
background: none;
color: #fff;
font-weight: 400;
font-size: 12.5px;
line-height: 15px;
color: #FFFFFF;
}
.white-box{
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 165px 20px  38px;
}
.nav-items-wrapper{
    display: flex;
    gap: 60px;
}
.nav-items{
font-weight: 700;
font-size: 16.6667px;
line-height: 23px;
display: flex;
align-items: flex-end;
text-transform: uppercase;
color:#140735;
}
.active{
    color: #FA6C48;
    border-bottom: 2px solid #FA6C48;
}
.bordered-img{
    border-left: 1px solid #C4D8E3;
    padding-left: 20px;
}
.gray-bg{
    background: #EEEEEE;
}
.teams-bg{
    padding: 200px 600px 300px 600px;
}
.orange-btn{
    padding: 14px 37px 24px 37px;
    border:none;
    background-color: #FA6C48;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;

}
.btn-box{
padding-left: 1100px;
}
.dark-blue-text{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
padding-top: 30px;
text-align: center;
color: #140735;
}
.ornate-writing{
font-family: 'Pacifico', cursive;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
text-align: center;
color: #140735;
padding-top: 20px;
}
.gray-text{
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #140735;
text-align: center;
padding: 20px 0;
}
.card-wrapper{
    margin: 100px 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 27px;
}
.icon-social-media{
    padding-left: 100px;
}
.footer{
    background: #140735;
    display: flex;
    flex-direction:column ;
    align-items: center;
    position: relative;
}
.white-text{
font-weight: 700;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
padding:69px 0 5px 0;
}
.small-white-text{
font-weight: 400;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
padding-bottom: 26px;
}
.input-wrapper{
    display: flex;
    align-items: center;
    gap: 18px; 
}
.input-email{
    padding: 21px 234px 23px 17px;
background: rgba(255, 253, 239, 0.16);
border: 1px solid #3D305C;
border-radius: 5px;
}
.text-wrapper{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    gap: 635px;
    margin-top: 60px;
}
.text{
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
.white-icons{
    position: absolute;
    bottom: 110px;
    right: 840px;
}

.copyright{
position: absolute;
bottom: 60px;
font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: flex-end;
text-align: center;
color: #82817F;
}